/* make root variables */
:root {
  --beige: #DDD0C8;
  --light-beige: #FFFBFA;
  --grey: #1A1D1A;
  --gray: #373737;
  --jet: #2E2B23;
  --light-gray: #A6A6A6;
  --light-gray: #999999;
  /* --light-gray: #c6c6c6;
  --light-gray: #cacaca; */
  --blue: #283C63;
  --dark-blue: #202f4b;
  --brown: #827C7C;
  --white: #FFFFFF;
  --black-olive: #3E3B30;
  --wetstar: #DBDAD0;
  --cadet-blue: #9DB0BF;
  --paynes-gray: #5F6B72;
  --outer-space: #3E4B4F;
  --cadet-gray: #8899A5;
  --paynes-gray: #5F6B72;
  --slate-gray: #72818B;
  --french-gray: #ADBDC7;
  --paynes-gray-2: #4B5C63;
  --paynes-gray: #606E75;
  --battleship-gray: #868378;
  --battleship-gray: #91928Cff;
  --charcoal: #2C4047ff;
  --corduroy: #646A68;
  --body: #e1e6e9;
  --body1: #d9e2eb;
  --body2: #a2aeb8;
  --body3: #adb6b9;
  --timberwolf: #D9D8CEff;
  --dark: #7d8f9a;
  --dark: #818181;
  --dark: #2e2e2e;
  --light: #e6e6e6;
  --light: #cecece;
  --light: #eaeaea;
  --light: #232323;
  --rose: #d5a498;
  --black: #000000;
  --sea: #96B6C5;
  --green-sea: #3BACB6;
  --green-sea: #6998AB;
  /* --dark: #646464; */
  /* --dark: #363636; */
  --font1: 'Paytone One', sans-serif;
  --font2: 'Dancing Script', cursive;
  --font3: 'Great Vibes', cursive;
  --font4: 'Playfair Display', serif;
  --font5: 'Lobster Two', cursive;
  --font6: 'Petit Formal Script', cursive;
  --font7: 'Prata', serif;
  --font8: 'Noto Serif Display', serif;
  --font9: 'Inconsolata', monospace;
  --font10: 'Cookie', cursive;
  --font11: 'Codystar', cursive;
  --font12: 'Waterfall', cursive;
  --font13: 'Alumni Sans Pinstripe', sans-serif;
  --font14: 'Tourney', cursive;
  --font15: 'Bungee Hairline', cursive;
  --font16: 'League Script', cursive;
  --font17: 'Raleway Dots', cursive;
  --font18: 'Silkscreen', cursive;
  --font19: 'VT323', monospace;
  --font20: 'Poiret One', cursive;
  --font21: 'Libre Baskerville', serif;
  --font22: 'Baloo 2', cursive;
  --font23: 'Poppins', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
}

/* webkit scrollbar */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--gray);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--beige);
  background: var(--cadet-gray);
}

#logo-li {
  width: 12%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 1%; */
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo-li:hover {
  /* background-color: var(--gray); */
  transition: 0.5s;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  /* height: 120px; */
  /* backdrop-filter: grayscale(0%) blur(1px) brightness(60%); */
}
#logo-img {
  width: auto;
  height: 95px;
}

#me {
  border-radius: 50%;
  background-color: var(--gray);
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: 5%;
  display: block;
  margin-top: 15%;
  margin-bottom: 5%;
  border: 5px inset var(--light-gray);
  transition: 0.5s;
}
#me:hover {
  border: 5px inset var(--beige);
  transition: 0.5s;
}

body {
  background-color: var(--dark);
  background-color: var(--light);
  color: var(--wetstar);
  color: var(--gray);
  font-family: var(--font23);
  font-size: 2rem;
  /* font-weight: bold; */
  scroll-behavior: smooth;
  z-index: 10;
}

main {
  z-index: 10;
  background-color: var(--light);
  width: 100%;
  height: 100%;
  margin-left: -8px;
  padding-right: 16px;
  margin-bottom: 500px;
  border-bottom: var(--wetstar) 10px ridge;
}

html {
  scroll-behavior: smooth;
  margin-bottom: -5px;
  padding-bottom: -5px;
}


header {
  color: var(--beige);
  font-family: var(--font4);
}
header nav ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  
}
header nav ul li a {
  margin: 0 1rem;
  font-size: 2rem;
  text-decoration: none;
  list-style: none;
  color: var(--wetstar);
  width: 110%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
header nav {
  width: 102%;
  position: fixed;
  height: 100px;
  font-size: 2rem;
  top: 0;
  left: 0;
  margin-top: -33px;
  background-color: transparent;
  z-index: 5;
}
header nav ul li {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 119px;
  height: 100px;
  width: 17.6%;
  transition: 0.5s;
  backdrop-filter: grayscale(100%) blur(0px) brightness(50%);
}


header nav ul li:hover {
  backdrop-filter: grayscale(0%) blur(2px) brightness(75%);
  transition: 0.5s;
}

@keyframes glow {
  0% {
    color: var(--gray);
    text-shadow: 1px 1px 10px var(--black);
  }
  50% {
    color: var(--sea);
    text-shadow: 1px 1px 15px var(--green-sea);
  }
  100% {
    color: var(--gray);
    text-shadow: 1px 1px 10px var(--black);
  }
}

#welkom {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font6);
  margin-top: 20vh;
  color: var(--gray);
  font-size: 2.5rem;
  text-shadow: 2px 2px 10px var(--black);
  width: 75%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  transition: 0.5s;
  /* create an animation that loops infitely */
  /* animation: fade-in 1s ease-in-out infinite; */
  /* transform: scale(0.94); */
  animation: glow 4s ease-in-out infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 1s ease-in-out;
}

.fade-out {
  animation: fade-out 1s ease-in-out;
}

#container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 95%;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 5%; */
  margin-bottom: 5%;
}

#container1 section {
  width: 45%;
  height: 40vh;
}

#container1 section div {
  background-image: url("../../../images/rocks_bw.JPEG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 400px;
  width: 100%;
  border-radius: 15px;
  border-radius: 15px;
  border: 4px inset var(--gray);
  box-shadow: 2px 2px 10px var(--black);
  transition: 1s;
  /* transition delay */
  transition-delay: 0.5s;
}

#container1 section div:hover {
/* .cardhover { */
  background-image: url("../../../images/rocks_colour.JPEG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 600px;
  width: 100%;
  transition: 1s;
  z-index: 5;
}

#company div h1 {
  font-size: 3rem;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: var(--wetstar);
}

#company div p {
  color: var(--white);
  /* height: 40vh; */
  height: 50%;
  font-size: 1.5rem;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  backdrop-filter: grayscale(0%) blur(5px) brightness(70%);
  border-radius: 25px;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

#services div h1 {
  font-size: 3rem;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: var(--wetstar);
}

#services div p {
  color: var(--white);
  height: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: grayscale(0%) blur(5px) brightness(70%);
  border-radius: 25px;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

#container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 95%;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -250px;
  margin-bottom: 5%;
}

#container2 section {
  width: 45%;
  height: 40vh;
}

#container2 section div {
  background-image: url("../../../images/rocks_bw.JPEG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 400px;
  width: 100%;
  border-radius: 15px;
  border-radius: 15px;
  border: 4px inset var(--gray);
  box-shadow: 2px 2px 10px var(--black);
  transition: 1s;
  /* transition delay */
  transition-delay: 0.5s;
}

#container2 section div:hover {
/* .cardhover { */
  background-image: url("../../../images/rocks_colour.JPEG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 600px;
  width: 100%;
  transition: 1s;
  z-index: 5;
}

#aboutus div h1 {
  font-size: 3rem;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: var(--wetstar);
}

#aboutus div p {
  color: var(--white);
  height: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: grayscale(0%) blur(5px) brightness(70%);
  border-radius: 25px;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

#portfolio div h1 {
  font-size: 3rem;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: var(--wetstar);
}

#portfolio div p {
  color: var(--white);
  height: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: grayscale(0%) blur(5px) brightness(70%);
  border-radius: 25px;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

#container3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 95%;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -250px;
  margin-bottom: 5%;
}

#container3 section {
  width: 95%;
  height: 40vh;
}

#container3 section div {
  background-image: url("../../../images/rocks_bw.JPEG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 400px;
  width: 100%;
  border-radius: 15px;
  border-radius: 15px;
  border: 4px inset var(--gray);
  box-shadow: 2px 2px 10px var(--black);
  transition: 1s;
  /* transition delay */
  transition-delay: 0.5s;
}

#container3 section div:hover {
/* .cardhover { */
  background-image: url("../../../images/rocks_colour.JPEG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 450px;
  width: 100%;
  transition: 1s;
  z-index: 5;
}

#contact div h1 {
  font-size: 3rem;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: var(--wetstar);
}

#contact div p {
  color: var(--white);
  color: var(--wetstar);
  height: 35%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: grayscale(0%) blur(5px) brightness(70%);
  border-radius: 25px;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
}


/* h1 {
  font-size: 2.5rem;
  font-family: var(--font10);
  font-family: var(--font20);
  font-family: var(--font13);
  font-family: var(--font23);
  font-family: var(--montserrat);
  color: var(--french-gray);
  color: var(--gray);
  color: var(--white);
  color: var(--rose);
  display: flex;
  text-align: center;
  justify-self: center;
  align-self: center; 
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  
  transition: 0.5s;
  
  border-radius: 25px;
} */

button {
  text-decoration: none;
  background-color: var(--gray);
  padding: 10px;
  border-radius: 10px;
  border: 4px inset var(--black);
  transition: 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: var(--wetstar);
  border: 4px inset var(--black);
}

button a {
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-family: var(--font6);
  font-size: 2rem;
  font-weight: bold;
  transition: 0.5s;
  color: var(--wetstar);
  width: 100%;
  height: 100%;
}
button a:hover {
  color: var(--gray);
  transition: 0.5s;
}

#kiemaro {
  color: var(--wetstar);
  background-color: var(--gray);
  background-image: url("../../../images/frontpage.JPEG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: grayscale(0%) blur(0px) brightness(200%);
  width: 95%;
  height: 12vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  font-family: var(--font17);
  padding: 2%;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.3rem;
  transition: 0.5s;
  border-radius: 5px;
  border: 4px inset var(--light-gray);
  padding: 10px;
}
#kiemaro:hover {
  color: var(--wetstar);
  font-weight: bold;
  background-color: var(--gray);
  border-color: var(--gray);
  transition: 1s;
  /* create a cool box shadow effect */
  box-shadow: 5px 5px 10px var(--gray);
}

p {
  color: var(--light-gray);
  /* color: var(--sea); */
}

span {
  color: var(--sea);
}

#front {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-image: url("../../../images/frontpage_logo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 108vh;
  width: 100%;
  overflow-x: hidden;
  margin-top: -50px;
  padding-right: 16px;
  border-bottom: var(--paynes-gray) 10px ridge;
  border-bottom: var(--white) 10px ridge;
  z-index: -1;
}

footer {
  z-index: -2;
  position: fixed;
  bottom: 0;
  background-color: var(--gray);
  /* background-image: url("../../../images/frontpage.JPEG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  /* border-top: var(--wetstar) 10px ridge; */
  height: 500px;
  width: 100%;
  overflow-x: hidden;
  margin-left: -11px;
  padding-right: 19px;
  backdrop-filter: grayscale(0%) blur(0px) brightness(200%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  transition: 0.5s;
  /* border-top-left-radius: 50px;
  border-top-right-radius: 50px; */
}

footer p {
  color: var(--white);
  font-size: 2rem;
  font-family: var(--font23);
  font-weight: bold;
  backdrop-filter: grayscale(0%) blur(5px) brightness(100%);
  border-radius: 25px;
  padding: 25px;
  transition: 0.5s;
}

#footer1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 33.33%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
#footer1 img {
  width: auto;
  height: 200px;
}

#footer2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 33.33%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
#footer2 img {
  width: auto;
  height: 200px;
}

#footer3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 33.33%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
#footer3 img {
  width: auto;
  height: 200px;
}