/* make root variables */
:root {
  --beige: #DDD0C8;
  --light-beige: #FFFBFA;
  --grey: #1A1D1A;
  --gray: #373737;
  --jet: #2E2B23;
  --light-gray: #A6A6A6;
  --blue: #283C63;
  --dark-blue: #202f4b;
  --brown: #827C7C;
  --white: #FFFFFF;
  --black-olive: #3E3B30;
  --wetstar: #DBDAD0;
  --cadet-blue: #9DB0BF;
  --paynes-gray: #5F6B72;
  --outer-space: #3E4B4F;
  --cadet-gray: #8899A5;
  --paynes-gray: #5F6B72;
  --slate-gray: #72818B;
  --french-gray: #ADBDC7;
  --paynes-gray-2: #4B5C63;
  --paynes-gray: #606E75;
  --battleship-gray: #868378;
  --battleship-gray: #91928Cff;
  --charcoal: #2C4047ff;
  --corduroy: #646A68;
  --body: #e1e6e9;
  --body1: #d9e2eb;
  --body2: #a2aeb8;
  --body3: #adb6b9;
  --timberwolf: #D9D8CEff;
  --dark: #7d8f9a;
  --dark: #818181;
  --rose: #d5a498;
  /* --dark: #646464; */
  /* --dark: #363636; */
  --font1: 'Paytone One', sans-serif;
  --font2: 'Dancing Script', cursive;
  --font3: 'Great Vibes', cursive;
  --font4: 'Playfair Display', serif;
  --font5: 'Lobster Two', cursive;
  --font6: 'Petit Formal Script', cursive;
  --font7: 'Prata', serif;
  --font8: 'Noto Serif Display', serif;
  --font9: 'Inconsolata', monospace;
  --font10: 'Cookie', cursive;
  --font11: 'Codystar', cursive;
  --font12: 'Waterfall', cursive;
  --font13: 'Alumni Sans Pinstripe', sans-serif;
  --font14: 'Tourney', cursive;
  --font15: 'Bungee Hairline', cursive;
  --font16: 'League Script', cursive;
  --font17: 'Raleway Dots', cursive;
  --font18: 'Silkscreen', cursive;
  --font19: 'VT323', monospace;
  --font20: 'Poiret One', cursive;
  --font21: 'Libre Baskerville', serif;
  --font22: 'Baloo 2', cursive;
  --font23: 'Poppins', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
}

/* webkit scrollbar */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--gray);
}

::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--beige);
  background: var(--cadet-gray);
}

#logo-li {
  width: 12%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 1%; */
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo-li:hover {
  /* background-color: var(--gray); */
  transition: 0.5s;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  /* height: 120px; */
  /* backdrop-filter: grayscale(0%) blur(1px) brightness(60%); */
}
#logo-img {
  width: auto;
  height: 95px;
}

#me {
  border-radius: 50%;
  background-color: var(--gray);
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: 5%;
  display: block;
  margin-top: 15%;
  margin-bottom: 5%;
  border: 5px inset var(--light-gray);
  transition: 0.5s;
}
#me:hover {
  border: 5px inset var(--beige);
  transition: 0.5s;
}

body {
  background-color: var(--dark);
  color: var(--wetstar);
  font-family: var(--font4);
  font-family: var(--montserrat);
  /* font-family: var(--font17); */
  font-size: 1.5rem;
  font-weight: lighter;
}

header {
  color: var(--beige);
  font-family: var(--font4);
}
header nav ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  
}
header nav ul li a {
  margin: 0 1rem;
  font-size: 2rem;
  text-decoration: none;
  list-style: none;
  color: var(--wetstar);
  width: 110%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
header nav {
  width: 102%;
  position: fixed;
  height: 100px;
  font-size: 2rem;
  top: 0;
  left: 0;
  margin-top: -33px;
  background-color: transparent;
}
header nav ul li {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 119px;
  height: 100px;
  width: 17.6%;
  transition: 0.5s;
  backdrop-filter: grayscale(100%) blur(0px) brightness(50%);
}


header nav ul li:hover {
  backdrop-filter: grayscale(0%) blur(2px) brightness(75%);
  transition: 0.5s;
}

h1 {
  font-size: 2.5rem;
  font-family: var(--font10);
  /* font-family: var(--font20); */
  font-family: var(--font13);
  font-family: var(--font23);
  font-family: var(--montserrat);
  font-weight: bold;
  /* create a text shadow */
  text-shadow: 2px 2px 4px var(--gray);
  /* text-shadow: ; */
  color: var(--french-gray);
  color: var(--white);
  /* color: var(--rose); */
  text-align: center;
  justify-self: center;
  align-self: center; 
  justify-content: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 5%; */
  /* margin-bottom: 5%; */
  transition: 0.5s;
  backdrop-filter: grayscale(0%) blur(5px) brightness(100%);
  border-radius: 25px;
}

button {
  text-decoration: none;
  background-color: transparent;
  border: none;
}

button a {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: var(--white);
  font-family: var(--font11);
  font-size: 2.5rem;
  font-weight: lighter;
  transition: 0.5s;
}

#kiemaro {
  color: var(--wetstar);
  /* background-color: var(--gray); */
  background-image: url("../../../images/frontpage.JPEG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 95%;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  font-family: var(--font17);
  padding: 2%;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.3rem;
  transition: 0.5s;
  border-radius: 5px;
  border: 4px inset var(--gray);
  padding: 10px;
}
#kiemaro:hover {
  color: var(--wetstar);
  font-weight: bold;
  background-color: var(--gray);
  border-color: var(--gray);
  transition: 1s;
  /* create a cool box shadow effect */
  box-shadow: 5px 5px 10px var(--gray);
}

p {
  color: var(--light-beige);
}

#front {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-image: url("../../../images/frontpage_logo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 108vh;
  width: 100%;
  overflow-x: hidden;
  margin-left: -11px;
  margin-top: -50px;
  padding-right: 19px;
  border-bottom: var(--paynes-gray) 10px ridge;
  border-bottom: var(--white) 10px ridge;
  z-index: -1;
}